* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--gray-180); 
}

body, input, span, button, ul, li, textarea, div, a {
  font: 400 1rem "Inter", sans-serif;
}

:root {
  --gray-180: #282c34;
  --white-900: #F8F8F8;
  --fucsia-600: #FF57B2;
  --info-700: #BBBBBB;
  --gray-800: #D7D7D7;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
  img {
    height: auto;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 83.5%;
  }
}