.mainContent {
    padding: 0 2rem;

    .postBanner {
        margin-bottom: 5rem;
        width: 100%;
        max-width: 720px;
        margin: 0 auto 2rem auto;
        display: flex;
        justify-content: center;
    
            img{
                max-width: inherit;
                min-width: 200px;
            }
    }
    
    .postContent {
        width: 100%;
        max-width: 720px;
        margin: 0 auto 2rem auto;
    
        .postHeader {
    
            & > h1 {
                margin-bottom: 1.5rem;
            }
            
            h1 {
                font-size: 2rem;
                color: var(--white-900);
                font-weight: 700;
            }
        
            .postInfo {
                display: flex;
                align-items: center;
                gap: .7rem;
                flex-wrap: wrap;
                
                :nth-child(4) {
                    flex: 1 1 100%;
                }
    
                .uploadedAt, 
                .userInfo, 
                .readTime {
                    display: flex;
                    align-items: center;
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: var(--info-700);
                    line-height: 1.05rem;
                    flex-shrink: 1;
    
                    svg {
                        margin-right: .2rem;
                    }
                }
    
                .lastEdited {
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: var(--info-700);
                    line-height: 1.05rem;
                }
            }
        }
    
        .postHeader + .postText {
            margin-top: 3rem;
    
        }
    
        .postText {
            margin-top: 3rem;
    
            h2 {
                font-size: 1.5rem;
                color: var(--white-900);
                font-weight: 700;
                margin-bottom: 1.5rem;
            }
    
            a {
                color: var(--white-900);
                font-weight: bold;
            }
    
            ul {
                padding: 0 2rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
    
            ul, li {
                color: var(--white-900);
            }
            
            p {
                font-family: Inter;
                font-style: normal;
                font-size: 1rem;
                color: var(--white-900);
                text-align: justify;
    
                & + h2 {
                    margin-top: 1.5rem;
                }
    
                & + p {
                    margin-top: 1rem;
                }
            }
        }
    }
    .separator {
        width: 100%;
        height: 1px;
        background-color: var(--gray-800);
    }
}
.postFooter {
    margin: 0 auto;
    padding: 0 2rem;
}