.mainContent {
    padding: 0 2rem;
    
    .postBanner {
        margin-bottom: 5rem;
        max-width: 720px;
        margin: 0 auto 2rem auto;
        display: flex;
        justify-content: center;
    
            img{
                max-width: inherit;
                min-width: 200px;
            }
    }
    
    .postContent {
        max-width: 720px;
        margin: 0 auto 2rem auto;
    
        .postHeader {
    
            & > h1 {
                margin-bottom: 1.5rem;
            }
            
            h1 {
                font-size: 2rem;
                color: var(--white-900);
                font-weight: 700;
            }
        
            .postInfo {
                display: flex;
                align-items: center;
                gap: .7rem;
                flex-wrap: wrap;
                
                :nth-child(4) {
                    flex: 1 1 100%;
                }
    
                .uploadedAt, 
                .userInfo, 
                .readTime {
                    display: flex;
                    align-items: center;
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: var(--info-700);
                    line-height: 1.05rem;
                    flex-shrink: 1;
    
                    svg {
                        margin-right: .2rem;
                    }
                }
    
                .lastEdited {
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: var(--info-700);
                    line-height: 1.05rem;
                }
            }
        }
    
        .postHeader + .postText {
            margin-top: 3rem;
    
        }
    
        .postText {
            margin-top: 3rem;
    
            h2 {
                font-size: 1.5rem;
                color: var(--white-900);
                font-weight: 700;
                margin-bottom: 1.5rem;
            }
    
            a {
                color: var(--white-900);
                font-weight: bold;
            }
    
            ul {
                padding: 0 2rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
    
            ul, li {
                color: var(--white-900);
            }
            
            p {
                font-family: Inter;
                font-style: normal;
                font-size: 1rem;
                color: var(--white-900);
                text-align: justify;
    
                & + h2 {
                    margin-top: 1.5rem;
                }
    
                & + p {
                    margin-top: 1rem;
                }
            }
        }
    }
    .separator {
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
        height: 1px;
        background-color: var(--gray-800);
    }
}
.postFooter {
    padding: 0 2rem;

    & > .footerPostNavigation {

        margin: 1rem auto 1rem auto;
    }

    .footerPostNavigation {
        max-width: 720px;
        display: flex;
        justify-content: space-between;

        .prevNav,
        .nextNav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 7rem;
            font-size: 1.125rem;
            font-weight: normal;
            color: var(--white-900);
            font-size: 1rem;

            & > .navLink{
                padding-top: .7rem;
            }

            .navLink {
                text-decoration: none;
                color: var(--fucsia-600);
                font-weight: 600;
                line-height: 1.1875rem;
                font-size: 1rem;
            }
        }
        
        .nextNav {
            text-align: right;
        }

        .prevNav {
            text-align: left;
        }
    }

    & .exitPostPreview {
        margin: 1rem auto;
    }

    .exitPostPreview {
        display: block;
        width: 100%;
        max-width: 720px;
        cursor: pointer;
        border: none;
        background-color: var(--white-900);
        color: #1A1D23;
        padding: 1rem 0;
        font-weight: 600;

    }
}