.headerContainer {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    height: 8rem;
    display: flex;
    align-items: center;

    & > .headerContent {
        width: inherit;
        max-width: 720px;
        margin: 0 auto;
    }
}